/* work san font  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;700;800&family=Sora:wght@100;200;300;400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Sora", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  width: 180px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff900e;
  border: 0;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 24px;
  cursor: pointer;
}

/* header styles */
header {
  width: auto;
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
  margin-bottom: 85px;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav ul > li,
nav ul > li > a {
  margin: 0px 20px;
  list-style: none;
  text-decoration: none;
  color: var(--Dark-02, #424242);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;
}
.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: normal;
}
/* banner styles */
.banner-content {
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
}
.banner img {
  margin-top: 50px;
  width: 100%;
}

.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
/* main */
main {
  /* background-color: aquamarine; */
  max-width: 1440px;
  margin: 70px auto;
}
/* Feature section */
.Features {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 73px;
}

.image-container {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.image-container img {
  width: 100%;
}
.feature-content {
  width: 30%;
}

.feature-title {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.feature-title1 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.feature-title2 {
  color: #ff900e;
  font-weight: 700;
}
.feature-cont {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 32px;
}

/* Fact */
.fact {
  padding: 0 230px;
  /* background-color: aquamarine; */
}
.fact p {
  max-width: 542px;
}
/* responsive media queary */
/* mobile */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  .Features {
    flex-direction: column;
  }
  .feature-content {
    width: 90vw;
  }
  .image-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* tablet */

@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  .Features {
    width: 80vw;
    margin: auto;
    flex-direction: column;
  }
  .image-container {
    background-color: #131313;
    margin: auto;
    width: 100%;
    display: grid;
    /* padding: 0px 140px; */
  }
  .feature-content {
    width: 80vw;
  }
}
